#!/usr/bin/env bash
{{ if eq .chezmoi.os "linux" -}}
set -x
(
    dir=$(mktemp -d)
    trap "sudo rm -rf $dir" EXIT
    git clone https://github.com/vim/vim.git $dir
    cd $dir/src
    sudo make install
)
{{ end -}}
